= render partial: 'breadcrumb_game', locals: {game: @game}
= render partial: 'game_header', locals: {icon_url: @T[:icon], game: @game}
= render partial: 'game_nav', locals: {active_num: @T[:active_num], game: @game}

h2
  = "#{@game.name} のキャラクター"

= render partial: 'characters'
= render partial: 'characters'
= render partial: 'characters'

