/*
 *= require_tree .
 *= require admin-lte/bootstrap/css/bootstrap
 *= require admin-lte/dist/css/AdminLTE
 *= require admin-lte/dist/css/skins/skin-blue-light
 *= require font-awesome/css/font-awesome.min.css
 *= require_self
 */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.main-header .sidebar-toggle {
    padding: 14px;
}
@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        right: 0;
    }
}
i.fa {
    margin-right: 5px;
}
a.sign-out {
    padding: 5px;
}
.alert {
    border-radius: 0;
}
img.game-icon {
    width: 80px;
    height: 80px;
    border-radius: 20px
}
